@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: rgb(178, 176, 232);
  --color-secondary: rgb(122, 133, 193);
  --color-button-primary: rgb(26, 42, 128);
  --color-button-secondary: rgb(59, 56, 160);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ubuntu: var(--font-ubuntu);
  --font-pacifico: var(--font-pacifico);
  --font-dancing-script: var(--font-dancing-script);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(38, 36, 50);
    --foreground: rgb(122, 133, 193);
  }
}